body {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: url();
  cursor: grab;
  background-image: url();
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 200px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}
.title p {
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
}
.menu ul {
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
}
.menu ul li {
  display: inline-block;
  margin-right: 50px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.menu ul li a:hover {
  border-bottom: 2px solid black;
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 87vh;
}
.hero-content p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.hero-content p span {
  color: #4070f4;
}
.hero-content button {
  background-color: blue;
  color: aliceblue;
  border: none;
  padding: 15px 80px;
  border-radius: 10px;
  font-size: 30px;
  margin: 50px;
  margin-right: 20px;
}
.hero-content button:hover {
  background-color: black;
  transition: 0.5s;
}
.social-media {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}
.social-media ul {
  list-style: 100;
}
.social-media ul li {
  display: inline-block;
  font-size: 40px;
}
.social-media ul li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  margin: 20px;
  margin-block: 100px;
}
.About {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 120px;
  background-image: url();
  height: 100vh;
}
.About-skill {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.about-box {
  margin-left: 50px;
  margin-right: 30px;
  margin-top: 30px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.about-box:hover {
  transform: translateY(-10px);
  transition: 0.5s;
  background-color: black;
}
.About-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  height: 100vh;
  margin-top: 200px;
}
.about-content-section {
  color: black;
  font-size: 30px;
  font-weight: 2000;
}
.about-content-title {
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.about-content-desc {
  color: black;
  font-size: 18px;
  font-weight: 300;
}
.button {
  background-color: blue;
  color: white;
  border: none;
  padding: 15px 80px;
  border-radius: 10px;
  font-size: 20px;
  margin: 100px;
  margin: 50px;
}
.button:hover {
  background-color: black;
  transition: 0.5s;
  transform: translateY(-10px);
}
.skill {
  display: flex;
  flex-direction: row;
  height: 110vh;
  background-color: darkslategray;
  justify-content: center;
  align-items: center;
  background-image: url();
}
.skill-content {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.skill-box {
  width: 220px;
  height: 150px;
  background-color: springgreen;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
  border-radius: 20px;
  font-size: 40px;
  font-family: monospace;
  align-content: center;
  text-align: center;
}
.skill-box:hover {
  transform: translateY(-10px);
  transition: 0.7s;
  background-color: blue;
}
.judul-skill {
  font-size: 30px;
  margin-bottom: 350px;
  margin-right: 300px;
  font-weight: bold;
  font-family: serif;
  background-color: yellowgreen;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  align-content: center;
}
.isi-skill {
  margin-left: 50px;
  font-size: 20px;
  margin-top: 100px;
}

.floating-button {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50px;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 20px;
  display: none;
}
.bisnis {
  background-image: url();
  height: 100vh;
}
.isi-bisnis {
  font-size: 20px;
  margin-left: 50px;
  top: 50px;
}
.makanan {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 80px;
  margin-right: 200px;
}
.kuliner {
  width: 300px;
  height: 200px;
  background-color: springgreen;
  margin-left: 110px;
  border-radius: 20px;
  font-size: 40px;
  font-family: monospace;
  align-content: center;
  text-align: center;
  margin-top: 70px;
}
.kuliner:hover {
  background-color: blue;
  transition: 0.5s;
  transform: translateY(-10px);
}
.judul-bisnis {
  font-family: sans-serif;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: yellowgreen;
  margin-left: 80px;
  font-size: 40px;
  font-family: serif;
  align-content: center;
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}
.belajar-awal {
  background-image: url();
  height: 100vh;
}
.belajar-kotak {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 200px;
}
.judul-belajar {
  font-family: sans-serif;
  width: 350px;
  height: 120px;
  background-color: gold;
  margin-left: 500px;
  border-radius: 10px;
  font-size: 40px;
  font-family: monospace;
  align-content: center;
  text-align: center;
  margin-top: 0;
}
.dkv-rpl {
  width: 300px;
  height: 300px;
  background-color: springgreen;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 20px;
  font-size: 40px;
  font-family: monospace;
  align-content: center;
  text-align: center;
}
.dkv-rpl:hover {
  background-color: blue;
  transition: 0.5s;
  transform: translateY(-10px);
}
.rpl-rpl {
  width: 300px;
  height: 300px;
  background-color: springgreen;
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 20px;
  font-size: 40px;
  font-family: monospace;
  align-content: center;
  text-align: center;
  margin-left: 100px;
}
.rpl-rpl:hover {
  background-color: blue;
  transition: 0.5s;
  transform: translateY(-10px);
}
.akhir {
  background-color: black;
  height: 50px;
}
.ig {
  color: aliceblue;
  margin-left: 1000px;
  font-size: 20px;
  font-family: monospace;
}
.telepon {
  color: aliceblue;
  margin-left: 1100px;
  font-size: 20px;
  font-family: monospace;
}
.nama-akhir {
  color: aliceblue;
  position: relative;
  top: -40px;
  font-size: 30px;
  margin-left: 20px;
  font-family: monospace;
}
.dll {
  width: 300px;
  height: 300px;
  background-color: springgreen;
  margin-left: 80px;
  margin-right: 70px;
  border-radius: 20px;
  font-size: 40px;
  font-family: monospace;
  align-content: center;
  text-align: center;
}
.dll:hover {
  background-color: blue;
  transition: 0.5s;
  transform: translateY(-10px);
}
.menu-bars {
  display: none;
}
.title-responsive {
  display: none;
}
.sidebar-responsive {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: none;
  flex-direction: column;
  gap: 30px;
}
.sidebar-responsive ul {
  list-style: none;
}
.sidebar-responsive ul li {
  margin-bottom: 30px;
}
.sidebar-responsive ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.sidebar-responsive ul li a:hover {
  border-bottom: 2px solid white;
}
@media screen and (max-width: 768px) {
  .title {
    display: none;
  }
  .title-responsive {
    display: block;
    font-size: 20px;
    font-weight: 600;
  }
  .menu {
    display: none;
  }
  .menu-bars {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    flex-direction: column;
    justify-content: center;
  }
  .hero-content p {
    font-size: 30px;
    right: 0px;
  }
}
